@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgb(9, 9, 121) 17%, rgb(255, 255, 255) 33%, rgb(255, 255, 255) 65%, rgb(235, 19, 19) 90%);
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

h1 {
  color: #000;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #777777;
}

/* Layout */
.wrapper {
  display: flex;
  margin-left: 10px;
}

@media all and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}
.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar,
.posts {
  background: #fff;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid #444;
  border-radius: 5px;
}

/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list .active {
  font-weight: bold;
  color: #0543b0;
}
.list a {
  text-decoration: none;
  color: #000;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}

/* Post */
.post {
  display: none;
}
.post.active {
  display: block;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
}
.post-tags p {
  margin: 0 10px 0 0;
}

/* Tags special classes. Reference: https://www.colorhexa.com/0040ff */
.tags li {
  display: inline;
}

.tags .active {
  color: rgb(235, 19, 19);
}

.tag-size-1 {
  background-color: #ebf0ff;
}

.tag-size-2 {
  font-size: 18px;
  background-color: #c4d3ff;
  padding: 2px;
}

.tag-size-3 {
  font-size: 20px;
  background-color: #9db6ff;
  padding: 2px;
}

.tag-size-4 {
  font-size: 22px;
  background-color: #7698ff;
  padding: 2px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBUSxxSEFBQTtBQUVSLGNBQUE7QUFVQSxXQUFBO0FBRUE7OztFQUdFLHNCQUFBO0FDVkY7O0FEYUE7RUFDRSwwQkFBQTtFQUNBLDRIQUFBO0VBT0EsMENBbkJVO0VBb0JWLFdBekJXO0VBMEJYLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBO0FDaEJGOztBRG1CQTtFQUNFLFdBL0JZO0FDZWQ7O0FEbUJBO0VBQ0UsaUJBQUE7RUFDQSxjQUFBO0FDaEJGOztBRG1CQTtFQUNFLGVBQUE7RUFDQSx5QkFBQTtFQUNBLGlDQXZDWTtFQXdDWixnQkFBQTtBQ2hCRjtBRGtCRTtFQUNFLG9CQUFBO0VBQ0EsZ0JBQUE7RUFDQSxjQUFBO0FDaEJKOztBRG9CQSxXQUFBO0FBRUE7RUFDRSxhQUFBO0VBQ0EsaUJBQUE7QUNsQkY7O0FEcUJBO0VBQ0U7SUFDRSxzQkFBQTtFQ2xCRjtBQUNGO0FEcUJBO0VBQ0UsV0FBQTtBQ25CRjs7QURzQkE7RUFDRSxXQUFBO0FDbkJGOztBRHNCQTs7RUFFRSxnQkE3RVk7RUE4RVosa0JBQUE7RUFDQSxhQUFBO0VBQ0Esc0JBQUE7RUFDQSxrQkFBQTtBQ25CRjs7QURzQkEsU0FBQTtBQUVBO0VBQ0Usa0NBbkZVO0VBb0ZWLGdCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7QUNwQkY7O0FEdUJBLFVBQUE7QUFFQTtFQUNFLHFCQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7QUNyQkY7QUR1QkU7RUFDRSxpQkFBQTtFQUNBLGNBQUE7QUNyQko7QUR3QkU7RUFDRSxxQkFBQTtFQUNBLFdBQUE7QUN0Qko7O0FEMkJFO0VBQ0UscUJBQUE7QUN4Qko7O0FENEJBLFlBQUE7QUFHRTtFQUNFLG1CQUFBO0FDM0JKOztBRCtCQSxTQUFBO0FBRUE7RUFDRSxhQUFBO0FDN0JGO0FEK0JFO0VBQ0UsY0FBQTtBQzdCSjs7QURpQ0E7RUFDRSxrQkFBQTtBQzlCRjs7QURpQ0E7RUFDRSxhQUFBO0FDOUJGO0FEZ0NFO0VBQ0Usa0JBQUE7QUM5Qko7O0FEa0NBLHNFQUFBO0FBRUE7RUFDRSxlQUFBO0FDaENGOztBRGtDQTtFQUNFLHVCQUFBO0FDL0JGOztBRGlDQTtFQUNFLHlCQUFBO0FDOUJGOztBRGlDQTtFQUNFLGVBQUE7RUFDQSx5QkFBQTtFQUNBLFlBQUE7QUM5QkY7O0FEaUNBO0VBQ0UsZUFBQTtFQUNBLHlCQUFBO0VBQ0EsWUFBQTtBQzlCRjs7QURpQ0E7RUFDRSxlQUFBO0VBQ0EseUJBQUE7RUFDQSxZQUFBO0FDOUJGIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */